footer{
  height: 300px;
  background-color: white;
}

.layout_footer{
  height: 250px;
  display: flex;
  align-items: center;

  .footer_logo{
    img{
      width: 100%;
    }
  }

  .footer_links{
    padding-left: 125px;
    a{
      display: block;
      text-align: justify;
    }
  }

  .footer_icons{
    padding-left: 125px;
    a{
      font-size: 25px;
      margin-right: 5px;
    }
  }
}

.blue_footer{
  background-color: $blueboolean;
  height: 50px;
}
